.event-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    /*transform: scale(1.1);*/
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.event-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(233, 233, 233);
}

.close-button:hover {
    background-color: darkgray;
}

.show-events-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.colour-1 {
    background-color: #ffcebf;
}

.colour-2 {
    background-color: #dbbfff;
}

.colour-3 {
    background-color: #ffbfe5;
}

.colour-4 {
    background-color: #bfffff;
}

.colour-5 {
    background-color: #c5ffbf;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: gray;
}

.note-cell {
    background-color: #ffebeb;
    /*height: 3em;*/
}

.date-cell {
    /*height: 4.5em;*/
}

.active-note-cell:hover {
    background-color: #ffd9d9;
}

.table {
    table-layout: fixed;
}

.month {
    font-size: 36px;
    margin: 0;
}
  
.panel, .panel * {
    overflow: hidden;
    height: 0px;
    transition: height 0.35s ease-out;
}

.show-note {
    height: 75px;
}

.note-col {
    width: 50px;
}