@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap');

.calendar-component {
    width: 80%;
    background-color: #F3F3F3;
    height: 100vh;
    padding: 25px 45px;
}

.notes-component {
    width: 20%;
    background-color: #5F6670;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.event-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    /*transform: scale(1.1);*/
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.event-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 600px;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(233, 233, 233);
}

.close-button:hover {
    background-color: darkgray;
}

.show-events-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.colour-1 {
    background-color: #ffcebf;
}

.colour-2 {
    background-color: #dbbfff;
}

.colour-3 {
    background-color: #ffbfe5;
}

.colour-4 {
    background-color: #bfffff;
}

.colour-5 {
    background-color: #c5ffbf;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: gray;
}

.note-cell {
    background-color: #ffebeb;
}

.date-cell {
    height: 4.5em;
    text-align: center;
}

.active-note-cell:hover {
    background-color: #ffd9d9;
}

.table {
    table-layout: fixed;
}

.calendar {
    margin-top: 30px;
}

.month {
    font-size: 36px;
    color: #899096;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.today-button, .prev-month, .next-month {
    cursor: pointer;
}

.today-button {
    font-family: 'Hind Siliguri', sans-serif;
    color: #F4A8AB;
    border: 0.9px solid #F4A8AB;
    padding: 3.5px 14px; 
    border-radius: 4px;
}

.prev-month {
    margin: 0px 32px;
}

th {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
}

.panel, .panel * {
    overflow: hidden;
    height: 0px;
    transition: height 0.35s ease-out;
}

.show-note {
    height: 75px;
}

p.show-note, ul.show-note, li.show-note {
    height: auto;
}

.note-col {
    width: 50px;
}

.toggle-notes {
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
}

.toggle-notes:hover {
    cursor: pointer;
}

.toggle-notes.toggled {
    transform: rotate(-180deg);
}

.event:hover {
    color: #808080;
    cursor: pointer;
}

/* Used to make daily note cells clickable! */
.table a {
    display:block;
    text-decoration:none;
}

.card-title {
    padding-top: 20px;
    margin-top: -20px;
}

/* NotesComponent styling */

.sticky-note {
    margin: 3vh 2vw;
    padding: 15px 25px 15px 15px;
    min-height: 220px;
    word-wrap: break-word;
}

div.sticky-note:nth-of-type(4n+1) {
    background-color: #AAEFE7;
}

div.sticky-note:nth-of-type(4n+2) {
    background-color: #F9C5C7;
}

div.sticky-note:nth-of-type(4n+3) {
    background-color: #E0B3EB;
}

div.sticky-note:nth-of-type(4n+4) {
    background-color: #D2FFC3;
}

.add-note-text {
    color: #D5DBE1;
    font-family: 'Raleway', sans-serif;
}

.add-note-margin {
    margin-right: 2vw;
    margin-top: 15px;
}

/* AddNoteComponent styling */

.add-note-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #D5DBE1;
}

.add-note-form {
    margin: 0 1.75vw;
    font-family: 'Hind Siliguri', sans-serif;
    color: #D5DBE1;
}

#form-title-input {
    background-color: #5F6670;
    border-color: #8F99A7;
    color: #D5DBE1;
}